body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .2em;
    font-size: 4em !important;
}
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
}
.navbarGroup {
    background-color: #118ab2;
}
.homeSearchForm {
    background-color: #06d6a070;
}